* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    outline: none;
}

.container {
    display: grid;
    grid-template-columns: 300px 1fr;
    column-gap: 50px;
    width: 950px;
    margin: 30px;
    margin-top: 100px;
}

.content {
    display: flex;
    align-items: center;
}

.calculator {
    background: #A2B9E5;
    padding: 15px;
    border-radius: 50px;
    width: 100%;
    max-width: 400px;
    margin: auto;
    
}

.value {
    display: grid;
    grid-template-columns: repeat(4,70px );
    border-radius: 30px;
    box-shadow: inset 4px 4px 12px #ffff, 4px 4px 12px rgba(0,0,0,16);
    background-image: radial-gradient(circle, rgb(224, 210, 216) 0%, rgba(148,187,233,1) 100%);
}

input {
    grid-column: span 4;
    height:70px;
    width:240px;
    background-color: #efebeb;
    box-shadow: inset -5px -5px 12px #ffff
                 inset 5px 5px 12px rgba(0,0,0,.16);
    border: none;
    border-radius: 0px;
    color: rgb(70, 70, 70);
    font-size: 50px;
    text-align: end;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 30px;
    padding: 20px;
}

.num, .btn, .equal {
    height: 48px;
    width:50px ;
    background-color: #ebf6f556;
    border: none;
    border-radius: 40%;
    margin: 8px;
    font-size: 16px;
}

.btn {
    background-color:  #ecf0f3;
}

.button-one {
    all: unset;
    outline: revert;
    border-radius: 70px;
    text-align: center;
    border-width: 1px;
    padding: 15px 40px;
    font-size: 14px;
    cursor: pointer;
    background-color: #798AAB;
    border-color: #222;
    color: #ffff;
}

.equal {
    width: 115px;
    border-radius: 60px;
    background-color: #ecf0f3;
}

 h1 {
    margin-bottom: 15px;
    font-family: sans-serif;
    font-weight: 200px;
    font-size: 40px;
 }

 .description { 
    margin-bottom: 18px;
    line-height: 25px;
    font-family: Arial, Helvetica, sans-serif;

 }

 @media screen and (min-width: 320px) {
    .value {
        grid-template-columns: repeat(4, 1fr);
    }

    input {
        font-size: 24px;
    }

    .num, .btn, .equal {
        font-size: 16px;
        width: 40px;
    }
}
 